.question {
    padding:96px 20px 160px;
    @include media-sm {
        padding:28px 15px 56px;
    }
    font-family: $noto;
    &-title {
        padding: 0 16px;
        border-left: 8px solid #9F1213;
        font-size: 48px;
        line-height: 80px;
        font-weight: bold;
        margin-bottom: 60px;
        @include media-md {
            margin-bottom: 40px;
        }
        @include media-sm {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    &-subtitle {
        font-size: 32px;
        line-height: 63px;
        margin-bottom: 36px;
        font-weight: bold;
        @include media-md {
            margin-bottom: 32px;
        }
        @include media-sm {
            font-size: 20px;
            margin-bottom: 24px;
            line-height: 29px;
        }
        
    }
    &-problem {
        margin-bottom: 32px;

        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 16px;
            font-weight: bold;
            @include media-sm {
                font-size: 16px;
            }
        }
        &-answer {
            line-height: 24px;
            font-size: 16px;
            margin-left: 95px;
            @include media-md {
                margin-left: 50px;
            }
            @include media-sm {
                font-size: 14px;
                line-height: 21px;
                margin-left: 0;
                margin-bottom: 32px;
            }
        }
        &-supplement {
            margin-left: 95px;
            line-height: 24px;
            font-size: 16px;
            @include media-md {
                margin-left: 50px;
            }
            @include media-sm {
                font-size: 14px;
                line-height: 21px;
                margin-left:0;
            }
        }
    }
}