// map background color
@each $key,$value in $theme-colors {
    .bg-#{$key} {
           background-color: $value;
    }
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}