// map text color
@each $key,$value in $theme-colors {
    .text-#{$key} {
           color: $value;
    }
}

.text-hide {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.text-none {
    text-decoration: none;
}

.text-noto {
    font-family: 'Noto Sans TC', sans-serif;
}
.text-center {
    text-align: center;
}