
// color 
$red: #aa0601;
$black: #000000;
$brown:#650300;
$white: #ffffff;
$pink: #FBF2F2;
$gray: #707070;

// theme colors map
$theme-colors:(
    "primary": $red,
    "secondary": #650300,
    "white": $white,
    "pink": $pink,
    "red":$red
);

$media-sm:"576px";
$media-md:"768px";

// font family
$noto:'Noto Sans TC', sans-serif;

// space for padding and margin use
$spaces: (8,10,12, 14,16,18, 20, 22 ,24,26,28,30,32,34, 36,40,80); 
$sides: (top, bottom, left, right); 

